body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, #db70c0, #8770db);
    flex-direction: column;
}
*{
    font-family: 'Montserrat', cursive;
}
.containerP{
    background: #d57ff0;
    overflow: hidden;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#seta {
    font-size: x-large;
    margin-top: 16px;
    width: 300px;
    color: black;
    transition: all 0.3s ease;
    cursor: pointer;
}
#seta:hover {
    transform: translateY(-5px);
}
